/* === ボタンを表示するエリア ============================== */
.switchArea {
    line-height    : 28px;                /* 1行の高さ          */
    letter-spacing : 0;                   /* 文字間             */
    text-align     : center;              /* 文字位置は中央     */
    font-size      : 11px;                /* 文字サイズ         */
    position       : relative;            /* 親要素が基点       */
    margin         : 1rem auto;           /* 中央寄せ           */
    width          : 79px;                /* ボタンの横幅       */
}

   /* === チェックボックス ==================================== */
.switchArea input[type="checkbox"] {
    display        : none;            /* チェックボックス非表示 */
}

   /* === チェックボックスのラベル（標準） ==================== */
.switchArea label {
    display        : block;               /* ボックス要素に変更 */
    box-sizing     : border-box;          /* 枠線を含んだサイズ */
    height         : 28px;                /* ボタンの高さ       */
    border         : 2px solid rgba(26, 26, 255, 0.48);   /* 未選択タブのの枠線 */
    border-radius  : 14px;                /* 角丸               */
    background     : #fff;                /* デフォルト背景色  */
}

   /* === チェックボックスのラベル（ONのとき） ================ */
.switchArea input[type="checkbox"]:checked +label {
    border          : none;             /* 選択タブの枠線     */
    background-color: #0000f4c2;;
}

/* === 表示する文字（標準） ================================ */
.switchArea label span:after{
    content        : "OFF";               /* 表示する文字       */
    padding        : 0 0 0 16px;          /* 表示する位置       */
    color          : rgba(26, 26, 255, 0.48);             /* 文字色*/
}

/* === 表示する文字（ONのとき） ============================ */
.switchArea  input[type="checkbox"]:checked + label span:after{
    content        : "ON";                /* 表示する文字       */
    padding        : 0 16px 0 0;          /* 表示する位置       */
    color          : #fff;             /* 文字色             */
    font-weight    : bold;
}

/* === 丸部分のSTYLE（標準） =============================== */
.switchArea .swImg {
    position       : absolute;            /* 親要素からの相対位置*/
    width          : 20px;                /* 丸の横幅           */
    height         : 20px;                /* 丸の高さ           */
    background     : rgba(26, 26, 255, 0.48);             /* カーソルタブの背景 */
    top            : 4px;                 /* 親要素からの位置   */
    left           : 4px;                 /* 親要素からの位置   */
    border-radius  : 10px;                /* 角丸               */
    transition     : .2s;                 /* 滑らか変化         */
}

/* === 丸部分のSTYLE（ONのとき） =========================== */
.switchArea input[type="checkbox"]:checked ~ .swImg {
    transform      : translateX(51px);    /* 丸も右へ移動       */
    background     : #fff;             /* カーソルタブの背景 */
}

p {
    font-weight: bold;
    color:  rgb(0 26 242 / 60%);
}

.hidden {
    float: left;
}

.over {
    margin: 20px auto;
    padding: 0 0 0 6rem;
    width: 370px;
}