body {
    margin: 0;
    padding-bottom: 3rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Helvetica, Arial, sans-serif;
}

main {
    padding-top: 20px;
}

form {
    margin-top: 0;
}

.alert {
    margin: 1rem;
    display: none;
}

#notice {
    margin-bottom: 0;
}

#enter {
    font-weight: bold;
    font-size: 1.2em;
}

#action {
    background: #181818dc;
    padding: 0.5rem;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    height: 3rem;
    box-sizing: border-box;
    backdrop-filter: blur(10px);
}

#basic-addon3 {
    border-radius: 5px;
}

.btn {
    padding: 0.2rem 1rem;
    font-weight: bold;
    margin: 0 5px;
}

#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#messages>li {
    padding: 0.5rem 1rem;
}

#messages>li:nth-child(odd) {
    background: #efefef;
}

#messages>li:nth-child(even) {
    background: #4d4d4d;
    color: #fff;
}

#close {
    margin-right: 20px;
    position:fixed;
    right:0px;
}

.room {
    padding: 0;
    margin: 0 auto 0 40px;
    font-size: 0;
}

.room p {
    font-weight: bold;
    color: #6e6e6e;/*文字色*/
    background: #FFF;
    border: solid 2px #000;/*線*/
    width: 125px;
    margin: 0;
    display: inline-block;
    font-size:16px;
}

.room p:first-child {
    border-radius: 10px 0 0 10px;
    border-right: solid 0;
    background-color: #6e6e6e;
    color: #fff;
    padding: 0 0 0 30px;
}

#id {
    border-radius: 0 10px 10px 0;
    padding: 0 0 0 34px;
}

/* 文字装飾 */
h3 {
    font-weight:bold;
    color: transparent;
    background : rgba(0,0,0,1);
    text-shadow :
        0 0 0.1em rgba(255,255,255,0.05),
        0.01em 0.04em 0.03em rgba(255,255,255,0.4);
    background-clip: text;
    -webkit-background-clip : text;
}

.navbar {
    padding-top: 20px;
    padding-bottom: 20px;
}