{% extends "layout.html" %}

{% block title %}
    ホーム画面
{% endblock %}

{% block main %}

    <h2>チャットルームに参加</h2>
    <br><br>

    <form action="/join" method="post">

        <h5>匿名</h5>
        <div class="sample1Area" id="makeImg">
            <input type="radio" name="sample1radio" id="sample1on" checked="" value="1">
              <label for="sample1on">ON</label>
            <input type="radio" name="sample1radio" id="sample1off" value="0">
              <label for="sample1off">OFF</label>
        </div>

        <br>

        <h5>ニックネーム</h5>
        <div class="sample1Area" id="makemg">
            <input type="radio" name="sample2radio" id="sampleon" checked="" value="1">
            <label for="sample1on">ON</label>
            <input type="radio" name="sample2radio" id="sampleoff" value="0">
            <label for="sample1off">OFF</label>
        </div>

        <br>

        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="nickname" name="nickname" placeholder="ニックネーム" type="text">
        </div>

        <br><br><br>

        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="roomid" name="roomid" placeholder="ルームのid" type="text">
        </div>
        <button class="btn btn-primary" type="submit">ルームに参加</button>
    </form>


{% endblock %}