{% extends "layout.html" %}

{% block title %}
    新規登録
{% endblock %}

{% block main %}
    <form action="/register" method="post">

        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" placeholder="ユーザー名" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="パスワード" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name="confirmation" placeholder="パスワードの再入力" type="password">
        </div>
        <button class="btn btn-primary" type="submit">新規登録</button>

        <br><br><br><br>

        <h5>LINEアカウントでログイン&公式追加</h5>

        <body>
            <a href="/line_redirect"><img src="../static/btn_login_base.png"/></a>
        </body>

    </form>
{% endblock %}