{% extends "layout.html" %}

{% block title %}
    ログイン
{% endblock %}

{% block main %}
    <form action="/login" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" placeholder="ユーザー名" type="text" required>
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="パスワード" type="password" required>
        </div>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="error">
                <ul class=flashes>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
                </ul>
            </div>
            {% endif %}
        {% endwith %}
        <button class="btn btn-primary" type="submit">ログイン</button>
    </form>
{% endblock %}